# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IDE files
.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Build directories
target/
bin/
out/

# MacOS system files
.DS_Store
